de/lib/Mustache/* linguist-vendored
en/lib/Mustache/* linguist-vendored
de/admin/css/*.min.css linguist-vendored
en/admin/css/*.min.css linguist-vendored
de/admin/js/*.min.js linguist-vendored
en/admin/js/*.min.js linguist-vendored
de/admin/fonts/* linguist-vendored
en/admin/fonts/* linguist-vendored
