<!DOCTYPE HTML>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin@{{core.url}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
<div class="container">
    <form class="form-admin" action="save.php" method="post">
        {{# admin.save}}<p class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> {{admin.save_label}}</p>{{/ admin.save}}
        <h2 class="form-admin-heading">{{core.question}}</h2><br>
        <div class="form-group">
            <label for="core.question">{{admin.question_label}}</label>
            <input id="core.question" class="form-control" type="text" value="{{core.question}}" required>
        </div>
        <div class="form-group">
            <label for="core.firstname">{{admin.firstname_label}}</label>
            <input id="core.firstname" class="form-control" type="text" value="{{core.firstname}}" required>
        </div>
        <div class="form-group">
            <label for="core.twitter.nick">{{admin.twitter_label}}</label>
            <input id="core.twitter.nick" class="form-control" type="text" value="{{core.twitter.nick}}" required>
        </div>
        <div class="form-group">
            <label for="core.twitter.owner">{{admin.twitter_owner_label}}</label>
            <input id="core.twitter.owner" class="form-control" type="text" value="{{core.twitter.owner}}" required>
        </div>
        <div class="form-group has-success">
            <label for="core.true.text">{{admin.true_text_label}}</label>
            <input id="core.true.text" class="form-control" type="text" value="{{core.true.text}}" required>
        </div>
        <div class="form-group has-success">
            <label for="core.true.long">{{admin.true_long_label}}</label>
            <input id="core.true.long" class="form-control" type="text" value="{{core.true.long}}" required>
        </div>
        <div class="form-group has-error">
            <label for="core.false.text">{{admin.false_text_label}}</label>
            <input id="core.false.text" class="form-control" type="text" value="{{core.false.text}}" required>
        </div>
        <div class="form-group has-error">
            <label for="core.false.long">{{admin.false_long_label}}</label>
            <input id="core.false.long" class="form-control" type="text" value="{{core.false.long}}" required>
        </div>
        <div class="form-group">
            <label for="core.url">{{admin.url_label}}</label>
            <input id="core.url" class="form-control" type="text" value="{{core.url}}" required>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;{{admin.btn_label}}</button>
    </form>
</div>
<script type="application/javascript" src="js/jquery.js"></script>
<script type="application/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>