body {
	background-color: #000;
	color: #fff;
	font-family:arial,helvetica;
	font-size:5em;
	text-align: center;
}

footer {
	font-size: 12px;
	color: #444;
	position: fixed;
	bottom: 5px;
	right: 20px;
}

a:visited {
	color: #444;
}

div {
	margin: 0px auto;
}

div#main {
	margin-top: 10px;
	width: 350px;
}

div#special {
	width: 500px;
}

div#top {
	margin-top: 50px;
	width: 350px;
	font-size:9pt;
}

div#tweet {
	position: fixed;
	top: 10px;
	left: 10px;
}